<div class="timeline-footer">
    {% if page.summary %}
    <div class="timeline-readmore">
            <a href="{{ page.permalink }}">Read more</a>
    </div>
    {% endif %}

    <div class="tags-section">
            {% if page.taxonomies.threads %}
                {% for thread in page.taxonomies.threads %}
                    {% set thread = get_taxonomy_term(kind="threads", term=thread) %}
                    <span class="tag tag-thread"><a href="{{ thread.permalink }}">{{ thread.name }}</a></span>
                {% endfor %}
            {% endif %}
            {% if page.taxonomies.tags %}
                {% for tag in page.taxonomies.tags %}
                    {% set tag = get_taxonomy_term(kind="tags", term=tag) %}
                    <span class="tag"><a href="{{ tag.permalink }}">{{ tag.name }}</a></span>
                {% endfor %}
            {% endif %}
    </div>
</div>
