{% extends "base.html" %}

{% block content %}
    <div class="post">
        <h4 class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</h4>
        <h1 class="post-title">{{ page.title }}</h1>
        {{ page.content | safe }}
    </div>
    <div class="timeline-footer">
        <div class="tags-section">
            {% if page.taxonomies.threads %}
                {% set threads = get_taxonomy(kind="threads") %}
                {% for thread in threads.items %}
                <span class="tag tag-thread"><a href="{{ thread.permalink }}">{{ thread.name }}</a></span>
                {% endfor %}
            {% endif %}
            {% if page.taxonomies.tags %}
                {% set tags = get_taxonomy(kind="tags") %}
                {% for tag in tags.items %}
                <span class="tag"><a href="{{ tag.permalink }}">{{ tag.name }}</a></span>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="post-nav">
        {% if page.lower %}
            <div class="post-nav-item">
                <span>←</span>
                <h4 class="next"><a href="{{ page.lower.permalink }}">{{page.lower.title}}</a></h4>
            </div>
        {% endif %}
        {% if page.higher %}
            <div class="post-nav-item right">
                <h4 class="prev"><a href="{{ page.higher.permalink }}">{{page.higher.title}}</a></h4>
                <span>→</span>
            </div>
        {% endif %}
    </div>
{% endblock content %}

