{% extends "base.html" %}

{% block content %}
    <div class="post">
        <h4 class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</h4>
        <h1 class="post-title">{{ page.title }}</h1>
        {{ page.content | safe }}
    </div>
    <div class="timeline-footer">
        <div class="tags-section">
            {% if page.taxonomies.tags %}
                {% for tag in page.taxonomies.tags %}
                    <span class="taxonomy-item tag">{{ tag }}</span>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="post-nav">
        {% if page.lower %}
            <div class="post-nav-item">
                <span>←</span>
                <h4 class="next"><a href="{{ page.lower.permalink }}">{{page.lower.title}}</a></h4>
            </div>
        {% endif %}
        {% if page.higher %}
            <div class="post-nav-item right">
                <h4 class="prev"><a href="{{ page.higher.permalink }}">{{page.higher.title}}</a></h4>
                <span>→</span>
            </div>
        {% endif %}
    </div>
{% endblock content %}

